* {
    box-sizing: border-box;
}

body {
background-color: black;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

[class*='col-'] {
     float: left;
     padding: 10px;
	 width: 100%;
   } 
   
.container{
	background-color: #e9ece5;
	margin: 0 auto;
}


p {
    font-family: 'Cormorant Garamond', serif;
	font-size: 20px;
	text-align: justify;

}